<div class="ml-5">
    <div class="row">
        <button class="btn btn-block btn-outline-success" routerLink='/home'>Home Page</button>
    </div>
    <div class="row mt-5">
        <button class="btn btn-block btn-outline-success" routerLink='/make-an-appointment'>Make Appointment</button>
    </div>
    <div class="row mt-5">
        <button class="btn btn-block btn-outline-success" routerLink='/view-appointment'>View Appointment </button>
    </div>
    <div class="row mt-5">
        <button class="btn btn-block btn-outline-success" routerLink='/contact'>Contact Us</button>
    </div>
    
</div>
